<!DOCTYPE html>
<html>
	<head>
		<title>
			MEC final project
		</title>
	</head>
	<style>
		div.top{
			border: 1px solid black;
			width:800px;
			padding:0px;
			margin:15px auto;
			background-color:gray;
			color:white;
		}
		div.a{
			border: 1px solid black;
			width:800px;
			height:500px;
			margin:0 auto;
		}

		table{
			/*background-color:blue;*/
			border: 0px solid black;
			float:left;
			width:100%;
			height:100%;
			/*position: fixed; */
			font-weight:bold;
			/*font-size:18px;*/
		}
		td.border{
			border: 1px solid black;
		}
		td.bordername{
			width:20%;
			background-color:#FFBB00;
			color:white;
			border: 1px solid black;
			font-size:20px;
			margin:0;
			padding:0;
		}
		td.bordername2{
			/*width:300;*/
			background-color:#FF9436;
			color:white;
			border: 1px solid black;
			font-size:20px;
			margin:0;
			padding:0;
		}
		td.white{
		
			border-color:white;
			width:10%;
			padding:0px;
			margin:0px;
		}
	
		div.a{
			background-image: url('dog.jpg');
			background-repeat:no-repeat;
			background-position:50% 50%;
			background-size: 70%;
			opacity: 0.7;
			filter:alpha(opacity=0.5);
		}
	</style>

<body onLoad="regForm.id.focus()">
	<div>
		<div class=top>
		<h1 align="center">환경 제어 시스템</h1>
	</div>
	<div class=a>
		<table border="0" width="800" height="250" style="float:left">
			<tr align="center">
			<td class="bordername">작동장치</td>
			<td class="bordername2" colspan="2">작동현황</td>		
			<td class=white></td>
			<td  class="bordername">환경적 요인</td>
			<td class="bordername2" width=23%>측정값</td>
			</tr>
		
			<tr align="center">
			<td  class="border">히터</td>
			<td  class="border"><input type="radio" name="r1" checked >On</td>
			<td class="border"><input type="radio" name="r1" checked >Off</button></td>
			<td class=white></td>
			<td class="border">온도</td>
			<td class="border"><div id="temperature"></div></td>
			</tr>
		
			<tr align="center">
			<td class="border">에어컨</td>
			<td  class="border"><input type="radio" name="r2" checked >On</td>
			<td class="border"><input type="radio" name="r2" checked >Off</button></td>
			<td class=white></td>
			<td class="border">습도</td>
			<td class="border"><div id="humidity"></div></td>
			</tr>
			<tr align="center">
			<td class="border">가습기</td>
			<td  class="border"><input type="radio" name="r3" checked >On</td>
			<td class="border"><input type="radio" name="r3" checked >Off</button></td>
			<td class=white></td>
			<td class="border">먼지농도</td>
			<td class="border"><div id="dust"></td>
			</tr>
			<tr align="center">
			<td class="border">쿨러</td>
			<td  class="border"><input type="radio" name="r4" checked >On</td>
			<td class="border"><input type="radio" name="r4" checked >Off</button></td>
			<td class="white"></td>
			<td class="white" colspan="2"><i>- 시스템설계프로젝트 실무 N반 8조</i></td>
			</tr>
		</table>
	</div>

	</div>
		<script language="javascript">
		    /*window.setTimeout('window.location.reload()', 5000); /*5초마다 리프레시*/
		    /*window.onload = function () {
		    	getTemp();
		    	getHumid();
		    	getDust();
		    } */
		    setInterval(function () {
		    	getTemp();
		    	getHumid();
		    	getDust();
		    }, 10000);
		/*==================================작동현황 버튼 구현부==================================*/
		/*------------------r1 구현부(히터)------------------*/
		    function r1_changed(e) {
		    	var xhttp = new XMLHttpRequest();
		        var radio1 = document.getElementsByName("r1");
		        var bTable = false;
		        if (radio1[0].checked) {
		            bTable = true;
		        }
		
		        if (bTable) {
		            //r1이 on일경우
		            xhttp.open("POST", "/hitter/1", true);
		            xhttp.send();
			    //alert('on');
		        } else {
			    //r1이 off일경우
			        xhttp.open("POST", "/hitter/0", true);
		            xhttp.send();
		            //alert('off');
		        }
		    }
		    var radio1 = document.getElementsByName("r1");
		    radio1[0].onclick = r1_changed;
		    radio1[1].onclick = r1_changed;
		    r1_changed();
		
		/*------------------r2 구현부(에어컨)------------------*/
		    function r2_changed(e) {
		    	var xhttp = new XMLHttpRequest();
		        var radio2 = document.getElementsByName("r2");
		        var bTable = false;
		        if (radio2[0].checked) {
		            bTable = true;
		        }
		
		        if (bTable) {
		        	xhttp.open("POST", "/aircon/1", true);
		            xhttp.send();
		            //alert('on');
		        } else {
		        	xhttp.open("POST", "/aircon/0", true);
		            xhttp.send();
		            //alert('off');
		        }
		    }
		    var radio2 = document.getElementsByName("r2");
		    radio2[0].onclick = r2_changed;
		    radio2[1].onclick = r2_changed;
		    r2_changed();
		
		/*------------------r3 구현부(가습기)------------------*/
		    function r3_changed(e) {
		    	var xhttp = new XMLHttpRequest();
		        var radio3 = document.getElementsByName("r3");
		        var bTable = false;
		        if (radio3[0].checked) {
		            bTable = true;
		        }
		
		        if (bTable) {
		        	xhttp.open("POST", "/humidifier/1", true);
		            xhttp.send();
		            //alert('on');
		        } else {
		        	xhttp.open("POST", "/humidifier/0", true);
		            xhttp.send();
		            //alert('off');
		        }
		    }
		    var radio3 = document.getElementsByName("r3");
		    radio3[0].onclick = r3_changed;
		    radio3[1].onclick = r3_changed;
		    r3_changed();
		
		/*------------------r4 구현부(쿨러)------------------*/
		    function r4_changed(e) {
		    	var xhttp = new XMLHttpRequest();
		        var radio4 = document.getElementsByName("r4");
		        var bTable = false;
		        if (radio4[0].checked) {
		            bTable = true;
		        }
		
		        if (bTable) {
		        	xhttp.open("POST", "/cooler/1", true);
		            xhttp.send();
		            //alert('on');
		        } else {
		        	xhttp.open("POST", "/cooler/0", true);
		            xhttp.send();
		            //alert('off');
		        }
		    }
		    var radio4 = document.getElementsByName("r4");
		    radio4[0].onclick = r4_changed;
		    radio4[1].onclick = r4_changed;
		    r4_changed();
		
		/*==================================측정값 구현부==================================*/
		function read () {
		    getTemp();
		    getHumid();
		    getDust();
		} 
		function getTemp(){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
			    if(xhttp.readyState == 4 && xhttp.status == 200){
			    	document.getElementById("temperature").innerHTML = xhttp.responseText + " C";
			    }
		    };
		    xhttp.open("POST","/temp/",true);
		    xhttp.send();
		}
		function getHumid(){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
			    if(xhttp.readyState == 4 && xhttp.status == 200){
			    	document.getElementById("humidity").innerHTML = xhttp.responseText + " %";
			    }
		    };
		    xhttp.open("POST","/humid/",true);
		    xhttp.send();
		}
		function getDust(){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
			    if(xhttp.readyState == 4 && xhttp.status == 200){
			    	document.getElementById("dust").innerHTML = xhttp.responseText + " %";
			    }
		    };
		    xhttp.open("POST","/dust/",true);
		    xhttp.send();
		}
		</script>
	</body>
</html>